* {
    margin: 0;
    padding: 0;

}
:root{
    --main-light-green: lightseagreen;
    --main-gray: lightslategray;
}
a {
    text-decoration: none;
}
body{
    width: 100%;
    height: auto;
    overflow-y: scroll;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}
.main-header-container{
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.image-container{
    background: url(header.jpg);
    background-size: cover;
    background-position: center;
    height: 80%;
    min-height: 80%;
    width: 100%;
}
#title{
    margin-top: 20px;
    font-size:3vw;
    color: #FFFFFF;
    -webkit-text-stroke:1.5px #000000;
    letter-spacing: 0.5em;
}
.button-containter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.main-button{
    width: 225px;
    height: 65px;
    border: 2px solid var(--main-light-green);
    border-radius: 40px;
    font-size: 20px;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
}
.main-button:hover{
    color: var(--main-light-green);
    border-color: black;
}
.main-input{
    font-size: 20px;
    height: 40px;
    border: 0px;
    width: 300px;
}
.input-container{
    position: relative;
}
.main-input:focus{
    outline: none;
}
#search-icon{
    font-size: 24px;
    margin-bottom: 2px;
    color: #B78F7F;
}
.recent-recipes-section-container{
    padding-left:  60px;
    padding-top: 100px;
}
.section-title{
    position: relative;
    font-size: 26px;
    padding-left: 45px;
}
.recent-recipes-container{
    display: flex;
    justify-content: space-around;
    padding: 40px 0px;
    flex-wrap: wrap;
}
.recipe{
    display: flex;
    width: 300px;
    height: 250px;
    margin-right: 40px;
    margin-bottom: 40px;
    position: relative;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
}
.recipe-name{
    text-align: center;
    width: 100%;
    padding-top: 10px;
    background-color: white;
    text-decoration: none;
    opacity: 1;
    transition: 0.3s;
    color: black;
    font-size: 20px;
    position: relative;
}
.recipe-name::after{
    position: absolute;
    content: '';
    height: 2px;
    right: 0px;
    left: 0px;
    bottom: -2px;
    transition:.3s;
}
.recipe-name:hover{
    color: var(--main-gray);
}
.recipe-name:hover::after{
    width: 100%;
    background: lightgray;
}
.section-title::after{
    content: "";
    display: block;
    text-decoration: none;
    width: 30%;
    height: 2px;
    background-color: var(--main-gray);
    position: absolute;
    bottom: -5px;
}

/* ----------------------FOOTER--------------------- */
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    /* height: 20px; */
}

