* {
    margin: 0;
    padding: 0;

}
body{
    position: relative;
    width: 100%;
    height: 90vw;
    overflow-y: scroll;
    left:0px;
    top:0px;
    margin:0px;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
#img_div{
    width: 100%;
    height: 75%;
    background: url(header.jpg);
    background-size: cover;
    background-position: center;
}
.header{
    position: relative;
    width: 100%;
    height: 35%;
    left: 0px;
    top: 0px;
}
#title_div{
    position: absolute;
    width:100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#title{
    margin:0em;
    font-size:3vw;
    color: #FFFFFF;
    -webkit-text-stroke:1.5px #000000;
    letter-spacing: 0.5em;

}
.button-containter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.main-button{
    width: 225px;
    height: 65px;
    border: 2px solid lightseagreen;
    border-radius: 40px;
    font-size: 20px;
    background-color: #FFFFFF;
}
.main-input{
    font-size: 20px;
    height: 40px;
    border: 0px;
    width: 300px;
}
.input-container{
    position: relative;
}
.main-input:focus{
    outline: none;
}
.input-container::after{
    content: "";
    display: block;
    text-decoration: none;
    width: 100%;
    height: 2px;
    background-color: lightseagreen;
    position: absolute;
    bottom: -1px;
}
#search-icon{
    font-size: 24px;
    margin-bottom: 2px;
    color: #B78F7F;
}
.recent-recepies-section-container{
    padding-left:  60px;
    padding-top: 100px;
}
.section-title{
    position: relative;
    font-size: 26px;
    padding-left: 45px;
}
.recent-recepies-container{
    display: flex;
    justify-content: space-around;
    padding: 40px 0px;
    flex-wrap: wrap;
}
.recepie{
    display: bloc;
    border: 2px solid black;
    width: 300px;
    height: 250px;
    margin-right: 40px;
    margin-bottom: 40px;
}
.section-title::after{
    content: "";
    display: block;
    text-decoration: none;
    width: 30%;
    height: 2px;
    background-color: lightslategray;
    position: absolute;
    bottom: -5px;
}
/* ----------------------FOOTER--------------------- */
.footer{
    width: 100%;
    height: 5%;
}

