<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Kinga Borycka & Filip Jaszczyk">
        <meta name="keywords" content="food,recipes,eat,dinner,lunch">
        <title>Cook&Eat</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <link rel="stylesheet" type="text/css" href="form.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <!-- ---------------------------HEADER----------------------------- -->
        <div class="main-header-container">
            <div class="image-container"></div>
            <a href="index.php">
                <h1 id="title">Cook&Eat</h1>
            </a>
        </div>
        <form action="add_recipe.php" enctype="multipart/form-data" method="post" class="main-form-container">
            <div class="title-container">
                <h3 class="input-header">Tytuł</h3>
                <input required type="text" name="name" class="title-input" placeholder="Nazwij swoje danie">
            </div>
            <div class="ingredient-container">
                <h3 class="input-header">Składniki</h3>
                <div value="1" class="extensible-input-container">
                    <div class="input-wrapper">
                        <input type="text" name="ingredient1" class="ingredient-text"><input name="volume1" type="number" min="1" max="1000" class="ingredient-number">
                            <select class="units" id="units1" name="units1">
                            </select>
                    </div>
                    <div class="add-input-button-container">
                        <button id="form-button" type="button" class="add-input-button">&#43;</button>
                    </div>
                </div>
            </div>
            <div class="tips-container">
                <h3 class="input-header">Wskazówki</h3>
            <textarea required name="description" cols="60" rows="10"></textarea>
            </div>
            <div class="portion-count-container">
                <h3 class="input-header">Ilość porcji</h3>
                <input required type="number" name="portions" min="1" max="15">
            </div>
            <div class="user-container">
                <h3 class="input-header">Użytkownik</h3>
                <div class="user-data-container">
                    <input required type="email" name="email" placeholder="Adres email" id="">
                    <input required type="text" name="nick" placeholder="Nazwa użytkownika" maxlength="50">
                </div>
            </div>
            <div class="category-container">
                <h3 class="input-header">Kategorie</h3>
                <div class="category-checkbox">
                </div>
            </div>
            <div class="main-submit-wrapper">
                <input type="submit" value="Dodaj przepis" type="button" id="main-submit-button">
            </div>

            <label for="file-upload" class="custom-file-upload">
                <i class="fas fa-upload"></i> Dodaj zdjęcie
            </label>
            <input type="file" accept=".jpg" id="file-upload" name="file-upload">

        </form>    
        
        
        <footer>
            <div class="footer">
                    Kinga Borycka & Filip Jaszczyk&#169
            </div>
        </footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type='text/javascript' src='form.js'></script>
</html>