<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Kinga Borycka & Filip Jaszczyk">
        <meta name="keywords" content="food,recipes,eat,dinner,lunch">
        <title>Cook&Eat</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>
        <!-- ---------------------------HEADER----------------------------- -->
        <div class="main-header-container">
            <div class="image-container"></div>
            <h1 id="title">Cook&Eat</h1>
        </div>

        <div class="button-containter">
            <a href="form.php"><button class="main-button">Dodaj swój przepis</button></a>
            <div class="input-container">
                <a href="all.php"><button type="button" class="main-button">Wszystkie przepisy</button></a>
            </div>
        </div>

        <div class="recent-recipes-section-container">
            <h1 class="section-title">Ostatnio dodane przepisy</h1>
            <div class="recent-recipes-container">
            </div>
        </div>
        <footer>
            <div class="footer">Kinga Borycka & Filip Jaszczyk&#169</div>
        </footer>
        
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script type='text/javascript' src='populateRecipes.js'></script>

    </body>
</html>