<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Kinga Borycka & Filip Jaszczyk">
        <meta name="keywords" content="food,recipes,eat,dinner,lunch">
        <title>Cook&Eat</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <link rel="stylesheet" type="text/css" href="recipe.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>
        
        <script type='text/javascript' src='representRecipe.js'></script>
        <div class="main-header-container">
            <div class="image-container"></div>
            <a href="index.php">
                <h1 id="title">Cook&Eat</h1>
            </a>
        </div>
        <main class="main-recipe">
            <header>
                <h1 class="recipe-title">Przykładowy przepis</h1>
                <div class="categories-container">                    
                </div>
            </header>
            <section>
                <div class="recipe-section">
                    <div class="ingredients-container">
                        <h2>
                            Potrzebne składniki <span class="recipe-portions">/ 2 porcje</span>
                        </h2>
                        <ul class="ingredients-list">                            
                        </ul>
                    </div>
                    <div class="description-container">
                        <h2>Sposób wykonania</h2>
                        <p class="recipe-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nostrum harum ipsam voluptatem ullam ex facere, cum perspiciatis itaque commodi, 
                            quis consectetur distinctio at sint ea quo dolor nam excepturi totam.</p>
                    </div>
                </div>
            </section>
            <h3 class="author-info">Dodane przez: <span class="recipe-nick">Albert Puzon</span></h3>
        </main>
        <footer>
            <div class="footer">
                 Kinga Borycka & Filip Jaszczyk&#169
            </div>
        </footer>

    </body>
</html>